:root {
  --borderColour: cyan;
}

body {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

#password {
	border: solid 3px;
  border-radius: 5px;
  width: 70%;
}

#tips {
  font-weight: bold;
  margin: auto;
}

#inputArea {
  border: solid 5px var(--borderColour);
  border-radius: 10px;
  max-width: 350px;
  margin: auto;
  margin-top: 40px;
  transition: 1.5s;
  padding: 5px;
  box-shadow: 0px 0px 30px 10px var(--borderColour);
}
