body {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

#password {
	border: solid 3px;
  border-radius: 5px;
  width: 40%;
}

#tips {
  font-weight: bold;
}

#inputArea {
  border: solid 5px cyan;
  border-radius: 10px;
  width: 60%;
  margin-left: 20%;
  transition: 1s;
}